/* arrière plan des exemples de code */
pre {
    background-color: var(--md-code-bg-color);
}

/* éléments centrés */
.center {
    display: block;
    margin: auto;
}

/* couleurs des SVG inversées en mode sombre */
body[data-md-color-scheme^="slate"] img.autolight {
    -webkit-filter: invert(1);
    filter: invert(1);
  }